.container{
    display: flex;
    width:80%;
    height:900px;
    margin: auto;
    border:5px solid black;
}
.first{
    width: 70%;
    background-color: rgb(244, 234, 234);

}
.second{
    width: 30%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.profile{
    margin:0 0 0 10%;
}
.photo{
    border-radius: 50%;
  display: block;
  margin: 0 auto;
  width:50%;
  padding-top: 10px;
 
}
.right{
   background: rgb(66, 66, 159); 
   margin: 0 auto 0 auto;
   height: 300px;
   width:100%;
}
.name{
    display: inline-block;
}
.introd{
    padding-left: 120px;;
    margin-bottom: 0px;
  }
  .prof{
    margin-top: 5px;
  padding-left: 120px;
  }
  .info{
    margin-left: 30px;
  }
  .profile2{
    margin-left: 30px;
  }